body {
    background-color: orangered;
}


.background {
    background-color: black;
    width: 100%;
    height: 500px;
    border: 1px solid black;
    margin-top: 180px;
    background-image: url(/img-naruto/background.jpg);
    background-size: 1300px;
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
}
.naruto {
    width: 200px;
    height: 200px;
    bottom: 0;
    background-image: url(/img-naruto/naruto.png);
    background-size: 200px 200px;
    position: absolute;
    
}

.shuriken {
    width: 60px;
    height: 60px;
    bottom: 100px;
    position: absolute;  
    background-image: url(/img-naruto/shuriken.png);
    background-size: 75px; 
    left: 1240px;
}

@keyframes slideright {
    from {
        background-position: 70000% ;
    }
    to {
        background-position: 0;
}
}
