@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400&family=Lato:wght@300;400;900&family=New+Tegomin&family=Open+Sans:ital,wght@0,400;0,500;0,700;1,300&family=Reenie+Beanie&family=Righteous&display=swap');

body {
    background-color: #DC872C;
    font-family: 'New Tegomin', serif;
    margin: 0;
    padding: 0;
}

.background {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    padding-top: 50px;
    background-image: url(./img-naruto/bgNaruto.jpeg);
    background-size: 100vw;
    background-repeat: repeat-x;
    animation: slideright 100s infinite linear;
}
.naruto {
    width: 200px;
    height: 200px;
    bottom: 0;
    background-image: url(/naruto-game/img-naruto/naruto.png);
    background-size: 200px 200px;
    position: absolute;
    
}

.shuriken {
    width: 60px;
    height: 60px;
    bottom: 100px;
    position: absolute;  
    background-image: url(/naruto-game/img-naruto/shuriken.png);
    background-size: 75px; 
    left: 1240px;
}

h1 {
    margin-top: 150px;
    text-align: center;
    color: white;
}

h2 {
    margin: 20px;
    padding: 0;
    text-align: center;
    animation: hiddenShow 3s infinite linear;
}
.narutoGif {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0;
}
}

@keyframes hiddenShow {
    from {
        color: #DC872C
    }
    to {
        color: white;
    }
}
